* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
}
@media (min-width: 400px) {
  * {
    font-size: 20px;
  }
}
section {
  margin-bottom: 4rem;
}
.prompt-message {
  background-color: antiquewhite;
  padding: 1rem;
  width: max-content;
  margin-inline: auto;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 200px;
}
.container {
  width: min(90%, 70.5rem);
  text-align: center;
  margin: auto;
}
.secondary-heading {
  font-size: 1.7rem;
  text-shadow: 0px 2.5px 4px rgb(116, 115, 115);
  margin-bottom: 1rem;
}
.btn {
  padding: 0.5rem;
  background-color: #ddd;
  cursor: pointer;
  margin: 0.5rem;
}
.btn:hover {
  transform: scale(1.075);
}
